{% extends 'master/master.html' %}
{% block content %}


<ul class="nav navbar-nav main_nav">
          <li class="active"><a href="{% url 'index' %}"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>

          {% for category in categoryData %}

          {% if category.product_set.all %}

          <li class="dropdown"> <a href="#" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button"
                                   aria-expanded="false">{{category.cat_name}}
            <ul class="dropdown-menu" role="menu">
              {% for product in category.product_set.all %}
              <li><a href="{% url 'product-details' product.slug %}">{{product.product_name}}</a></li>
              {% endfor %}

            </ul>
          </li>
          {% else %}
          <li><a href="#">{{category.cat_name}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
{% endblock %}